.page-gallery {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px; 
    padding: 10px 20px;
    box-shadow: 0px 0px 5px 0px rgb(77, 77, 75);
    border: 2px solid rgb(118, 118, 116);
    border-radius: 2%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}
  
.item:hover img {
    transform: scale(1.01); 
    filter: brightness(85%); 
}

.item:active{
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2); 
}

.item-image img{
    margin-top: -25px;
    border-radius: 2%;
}

.item-name {
    margin-top: 10px;
}